body {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);
  padding: 4rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);
}

form > div {
  width: 48%;
  margin-bottom: 10px;
}

@media(max-width:768px){
  form > div{
    width: 100%;
  }
}

form > button {
  width: 100%;
}

.receipt-main {
  display: "flex";
  flex-direction: column;
	justify-content: "center";
	align-items: "center";
  width: 100%;
  font-size: 14px;
}

.invoice-logo {
  position: "relative";
	display: "grid";
	grid-template-columns: "repeat(2, 1fr)";
  justify-content: center;
  align-content: space-between;
  margin-bottom: 20px;
}

.invoice-total{
  border: 1.5px solid #000000;
  border-radius: 100px;
  padding: 5px;
  margin-top: 5px;
}

.receipt-title {
  display:flex;
  flex-direction: row;
  text-align: start;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  margin: 0;
}

@media(max-width:685px){
  .receipt-title{
    display: grid;
  }
}
  
.receipt-section {
  margin-top: 10px;
}

.receipt-footer {
  text-align: center;
}

.receipt-signature {
  height: 80px;
  margin: 50px 0;
  padding: 0 50px;
  background: #fff;
}

.receipt-label {
  font-weight: 600;
}

.text-large {
  font-size: 16px;
}
.receipt-line {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.paddingTop{
  padding-top: 100;
}

.header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5469d4;
  font-weight: bold;
  margin: 3rem auto;
}

@media(max-width:495px){
  .header-flex{
    flex-direction: column;
  }
}

.title{
  text-align: center;
  margin: 3rem auto;
  color: #5469d4;
}

.form-label{
  font-weight: bold;
}

.btnSave{
  width: 8rem;
  border-radius: 2rem;
  padding: 0.5rem;
  background-color: green;
  transition: all .2s ease-in;
  color: #ffffff;
  border: none;
  margin-left: auto;
  margin-top: 1rem;
}

.btnSave:hover{
  background-color: rgb(0, 86, 0);
  box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px -5px rgba(0,0,0,0.75);
}

.w-100{
  width: 100%;
}

.float-right{
  float: right;
}

.actionButtons{
  display: flex;
  column-gap: 0.5rem;
  justify-content: flex-end;
}

@media(max-width:875px){
  .actionButtons{
    display: grid;
    row-gap: 0.5rem;
  }
}

.logoRecibo{
  width: 300px;
}

@media(max-width:768px){
  .logoRecibo{
    width: 200px;
  }
}

@media(max-width:525px){
  .logoRecibo{
    width: 90%;
  }
}

.fechaReciboHeader{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media(max-width:495px){
  .fechaReciboHeader{
    display: grid;
  }
}

.totalRecibo{
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 15px;
  justify-content: flex-end;
  width: 50%;
  border: 1.5px solid #000000;
  border-radius: 100px;
  padding: 8px;
}

@media(max-width:495px){
  .totalRecibo{
    width: auto;
    text-align: center;
  }
}

.firmaImg{
  width: 200px;
}

@media(max-width:495px){
  .firmaImg{
    width: 100%;
    margin-top: 1rem;
  }
}
